<div id="header" class="header-wrap{{#is "home"}}{{#if @custom.show_home_hero_section}} header-wrap-home{{/if}}{{/is}}">
    <header class="site-header d-flex">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div class="logo">
                {{#if @site.logo}}
                    <a href="{{@site.url}}" class="logo-image" id="logo">
                        <img src="{{@site.logo}}" alt="{{@site.title}}">
                    </a>
                    <a href="{{@site.url}}" class="logo-image" id="logo-alternete">
                        <img {{#if @custom.logo_for_light_mode}}src="{{@custom.logo_for_light_mode}}"{{else}}src="{{@site.logo}}"{{/if}} alt="{{@site.title}}">
                    </a>
                {{else}}
                    <a href="{{@site.url}}" class="logo-text">{{@site.title}}</a>
                {{/if}}
            </div>
            <nav class="nav-wrap d-none d-lg-block">
                {{navigation}}
            </nav>
            <div class="nav-right">
                {{#if @custom.show_theme_mode_switcher_icon}}
                <input type="checkbox" name="theme-toggle" id="switch_theme" class="theme-toggle">
                <label for="switch_theme" class="theme-toggle-label fade-in">{{t "Toggle Theme"}}</label>
                {{/if}}
                <a href="/#/portal" class="search-icon" aria-label="User" tabindex="0">{{> icons/user}}</a>
                <a href="#" class="search-icon js-search-button" aria-label="Search" tabindex="0">{{> icons/search}}</a>
                <div class="menu-icon d-lg-none js-menu-open">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
            <nav class="mobile-menu nav-wrap d-lg-none" id="mobile-menu">
                <ul class="nav-list">{{navigation}}</ul>
            </nav>
            <div class="backdrop d-lg-none js-backdrop" id="backdrop">
            </div>
        </div>
    </header>
    {{#is "home"}}
    {{#if @custom.show_home_hero_section}}
    {{> hero-section}}
    {{/if}}
    {{/is}}
</div>