{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="site-content-wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="post-wrap">
                    <article class="post-single page">
                        {{#if @member.paid}}
                        <div class="post-header d-flex">
                            <div class="header-content-wrap text-center">
                                <h1 class="post-title text-center">{{t "Nice, you're a paid subscriber!"}}</h1>
                            </div>
                        </div>
                        <div class="members-page-content">
                            <div class="members-page-subtitle text-center">
                                 {{t "Hey! You are currently logged in with"}} <strong>{{@member.email}}</strong>.<br>{{t "You have an active"}} {{t "account with access to all areas."}} {{t "You're all set, but if you need any help, get in touch with us and we'd be happy to help."}}<br><br>
                                 <a class="btn btn-primary" href="javascript:"
                                    data-members-signout
                                    data-members-signout=""
                                    >Click here to sign out</a>
                            </div>
                            {{#foreach @member.subscriptions}}
                            <div class="subscription">
                                {{#if cancel_at_period_end}}
                                <div class="subscription-description">
                                    <p class="subscription-expiration-warning">
                                        <strong>{{t "Your subscription will expire on"}} {{date current_period_end format="DD MMMM YYYY"}}.</strong>
                                    </p>
                                    <p>
                                        <strong>{{t "If you change your mind in the meantime you can turn auto-renew back on to continue your subscription."}}</strong>
                                    </p>
                                </div>
                                {{/if}}
                                <div class="subscriber-info flex">
                                    <div class="subscriber-avatar-wrap">
                                        {{> icons/user}}
                                        {{#if @member.avatar_image}}
                                            <img class="avatar-img" src="{{@member.avatar_image}}"/>
                                        {{/if}}
                                    </div>
                                    <div class="row subscriber-detail-wrap">
                                        <div class="col-md-6">
                                            <div class="subscriber-detail">
                                                <div class="label">{{t "Name:"}}</div>
                                                <div class="content">{{@member.name}}</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="subscriber-detail">
                                                <div class="label">{{t "Email address:"}}</div>
                                                <div class="content">{{@member.email}}</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="subscriber-detail">
                                                <div class="label">{{t "Your plan:"}}</div>
                                                <div class="content">{{price plan.currency}}{{price plan.amount}}/{{plan.interval}}</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="subscriber-detail">
                                                <div class="label">{{t "Status:"}}</div>
                                                <div class="content">{{status}}</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="subscriber-detail">
                                                <div class="label">{{t "Card:"}}</div>
                                                <div class="content">**** **** **** {{default_payment_card_last4}}</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="subscriber-detail">
                                                <div class="label">
                                                    {{#if cancel_at_period_end}}
                                                        {{t "Expires:"}}
                                                    {{else}}
                                                        {{t "Next bill date:"}}
                                                    {{/if}}
                                                </div>
                                                <div class="content">{{date current_period_end format="DD MMMM YYYY"}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="members-button-wrap text-center">
                                    <a class="btn btn-primary" href="javascript:"
                                    data-members-edit-billing
                                    data-members-success="{{@site.url}}/account/?stripe=billing-update-success"
                                    data-members-cancel="{{@site.url}}/account/?stripe=billing-update-cancel"
                                    >Edit billing info</a>&nbsp;
                                    {{cancel_link
                                        class="cancel-link btn btn-primary"
                                        errorClass="cancel-error"
                                        cancelLabel=(t "Cancel Subscription!")
                                        continueLabel=(t "Continue Subscription!")
                                    }}
                                </div>
                            </div>
                            {{/foreach}}
                        </div>
                        {{else if @member}}
                        <div class="post-header d-flex">
                            <div class="header-content-wrap text-center">
                                <h1 class="post-title text-center">{{t "Nice, you're a subscriber!"}}</h1>
                            </div>
                        </div>
                        <div class="members-page-content">
                            <div class="members-page-subtitle text-center">
                                 {{t "Hey! You are currently logged in with"}} <strong>{{@member.email}}</strong>. {{t "You have subscribed to free updates from"}} the Free tier. {{t "Subscribe to paid plan to unlock full access."}}<br><br>
                                 <a class="btn btn-primary" href="javascript:"
                                    data-members-signout
                                    data-members-signout=""
                                    >Click here to sign out</a>
                            </div>
                            <div class="membership-switch" id="membership-duration" data-active-duration="yearly">
                                <button class="btn" data-duration="monthly">Monthly</button>
                                <button class="btn" data-duration="yearly">Yearly</button>
                            </div>
                            <div class="pricing-table-wrap">
                                {{#get "tiers" include="yearly_price,monthly_price,benefits" filter="type:paid" limit="all" as |tiers|}}
                                {{#foreach tiers}}
                                    {{> members/pricing-table}}
                                {{/foreach}}
                                {{/get}}
                            </div>
                        </div>
                        {{else}}
                            {{!-- Not logged in: Redirect to signin --}}
                            <script>window.location = '{{@site.url}}/signin/';</script>
                        {{/if}}
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
{{#contentFor "scripts"}}
<script>
    let switcher  = document.getElementById('membership-duration');
    let pricingTables = document.querySelectorAll('.pricing-table');
    switcher.querySelectorAll('button').forEach((el)=> {
        el.addEventListener('click', (e)=> {
            let activeDuration= e.target.getAttribute('data-duration')
            switcher.setAttribute('data-active-duration', activeDuration)
            pricingTables.forEach((table)=> {
                table.setAttribute('data-active-duration', activeDuration)
            })
        })
    })
</script>
{{/contentFor}}