<!DOCTYPE html>
<html lang="{{@site.locale}}" data-layout="{{@custom.post_list_container_width}}" data-theme="{{@custom.default_theme_mode}}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<title>{{meta_title}}</title>

		<!--<link type="text/css" href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap"
			rel="stylesheet">-->

		<link rel="preconnect" href="https://fonts.bunny.net">
		<link href="https://fonts.bunny.net/css?family=source-serif-4:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

		<style id="app-css">
            {{> styles/app-css}}
        </style>

		<script data-cfasync="false">
			if(typeof(Storage) !== 'undefined') {
                if (localStorage.getItem('selected-theme') == 'light') {
					document.documentElement.setAttribute('data-theme', 'light');
                }
				else if (localStorage.getItem('selected-theme') == 'dark') {
					document.documentElement.setAttribute('data-theme', 'dark');
				}
            }
		</script>

		<script src="{{asset "js/app.min.js"}}"></script>

		{{ghost_head}}
	</head>
	<body class="{{body_class}}">
		{{> header}}

		<main class="main-content-area">
			{{{body}}}
		</main>

		{{> footer}}
		{{> search-popup}}

		<script>
			var nextPage = '{{pagination.next}}';
			var totalPages = '{{pagination.pages}}';
			if(typeof(Storage) !== 'undefined') {
                if (localStorage.getItem('selected-theme') == 'light' || document.documentElement.getAttribute('data-theme') == 'light') {
					document.getElementById('switch_theme').checked = true;
                }
            }
        </script>

		{{{block "scripts"}}}
		<script src="{{asset "js/sidenotes.js"}}"></script>
		<script defer src="{{asset "js/vendor/katex.min.js"}}"></script>
		<script defer src="{{asset "js/vendor/katex-auto-render.min.js"}}" onload="renderMathInElement(document.body);"></script>
		{{ghost_foot}}
	</body>
</html>