{{!< default}}

<div class="container home-layout">
    
    {{!-- Left Column: Profile Window --}}
    <aside class="profile-column">
        <div class="cde-window">
            <div class="cde-resize-handle cde-resize-handle-tl"></div>
            <div class="cde-resize-handle cde-resize-handle-tr"></div>
            <div class="cde-resize-handle cde-resize-handle-bl"></div>
            <div class="cde-resize-handle cde-resize-handle-br"></div>

            <!-- Bezels -->
            <div class="cde-bezel cde-bezel-top"></div>
            <div class="cde-bezel cde-bezel-bottom"></div>
            <div class="cde-bezel cde-bezel-left"></div>
            <div class="cde-bezel cde-bezel-right"></div>
            <div class="cde-title-bar">
        <div class="cde-controls-left">
            <div class="cde-btn cde-btn-menu"></div>
        </div>
        <div class="cde-title-text">~</div>
        <div class="cde-controls-right">
            <div class="cde-btn cde-btn-minimize"></div>
            <div class="cde-btn cde-btn-maximize"></div>
            <div class="cde-btn cde-btn-close"></div>
        </div>
    </div>
            <div class="cde-window-content">
                {{#if @site.icon}}
                    {{!-- <img src="{{@site.icon}}" alt="{{@site.title}}" class="profile-photo"> --}}
                    <img src="{{asset "images/me_festive.jpg"}}" alt="{{@site.title}}" class="profile-photo">
                {{else}}
                    <div class="profile-photo" style="height: 200px; display: flex; align-items: center; justify-content: center; background: #ddd;">
                        <span>No Photo</span>
                    </div>
                {{/if}}
                
                <h2 class="profile-name">{{@site.title}}</h2>
                <div class="profile-bio">I'm a reader in the Orthodox Church in America, specializing in choir and choir accessories (countertenor). I live in the world as a software engineer. Blessed to be a husband and dad of two.</div>
                
                <ul class="profile-links">
                </ul>
            </div>
        </div>
    </aside>

    {{!-- Right Column: Post List Window --}}
    <main class="post-column">
        <div class="cde-window" style="min-height: 80vh;">
            <div class="cde-resize-handle cde-resize-handle-tl"></div>
            <div class="cde-resize-handle cde-resize-handle-tr"></div>
            <div class="cde-resize-handle cde-resize-handle-bl"></div>
            <div class="cde-resize-handle cde-resize-handle-br"></div>

            <!-- Bezels -->
            <div class="cde-bezel cde-bezel-top"></div>
            <div class="cde-bezel cde-bezel-bottom"></div>
            <div class="cde-bezel cde-bezel-left"></div>
            <div class="cde-bezel cde-bezel-right"></div>
            <div class="cde-title-bar">
            <div class="cde-controls-left">
                <div class="cde-btn cde-btn-menu"></div>
            </div>
            <div class="cde-title-text">~/posts</div>
            <div class="cde-controls-right">
                <div class="cde-btn cde-btn-minimize"></div>
                <div class="cde-btn cde-btn-maximize"></div>
                <div class="cde-btn cde-btn-close"></div>
            </div>
        </div>
            <div class="cde-window-content">
                {{#foreach posts }}
                    <article class="post-list-item">
                        {{#if feature_image}}
                            <a href="{{url}}" class="post-card-image-link">
                                <img class="post-feature-image" src="{{img_url feature_image size="m"}}" alt="{{title}}" />
                            </a>
                        {{/if}}

                        <div class="post-card-content">
                            <header>
                                <h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
                                <div class="post-meta">
                                    <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time> in {{#primary_tag}}<a href="{{url}}">{{name}}</a>{{/primary_tag}} ({{reading_time minute="1 minute read" minutes="% minute read"}})
                                </div>
                            </header>
                            
                            <section class="post-excerpt">
                                <p>{{excerpt words="30"}} <br /><br /><a href="{{url}}">Read More</a></p>
                            </section>
                        </div>
                    </article>
                {{/foreach}}
                
                {{pagination}}
            </div>
        </div>
    </main>

</div>

<div style="display: none;" class="h-card vcard">
    <span class="p-name fn">Rdr. Seraphim Pardee</span>
    <span class="p-honorific-prefix title">Rdr.</span>
    <span class="p-given-name given-name">Seraphim</span>
    <span class="p-additional-name">R.</span>
    <span class="p-family-name family-name">Pardee</span>
    <span class="p-nickname nickname">srp</span>
    <span class="p-nickname nickname">xsrp</span>
    <span class="p-nickname nickname">SeraphimRP</span>
    <span class="p-nickname nickname">RdrSeraphim</span>
    <span class="p-job-title title">Reader (minor clergy), Software Engineer</span>
    <img class="u-photo photo" src="https://srp.life/content/images/size/w256h256/format/jpeg/2025/03/453064960_3021890884616733_2803591731230311694_n.jpg" />
    <a class="u-url url" href="https://srp.life">web</a>
    <a class="u-email email" href="mailto:me@srp.life">email</a>
    <a class="u-email email" href="mailto:srp@kerygma.digital">email 2</a>
    <span class="p-note note">I'm a reader in the Orthodox Church in America, specializing in choir and choir accessories (countertenor). I live in the world as a software engineer. Blessed to be a
        husband and dad of two.</span>
    <div class="p-adr h-adr">
        <span class="p-region" title="Michigan">MI</span>
        <span class="p-country-name">United States of America</span>
    </div>
    <time class="dt-bday">1998-08-25</time>
    <span class="p-sex p-gender-identity">Male</span>
</div>