{{!< default}}

<div class="container">
    {{#post}}
    <article class="cde-window">
        <div class="cde-resize-handle cde-resize-handle-tl"></div>
        <div class="cde-resize-handle cde-resize-handle-tr"></div>
        <div class="cde-resize-handle cde-resize-handle-bl"></div>
        <div class="cde-resize-handle cde-resize-handle-br"></div>

        <!-- Bezels -->
        <div class="cde-bezel cde-bezel-top"></div>
        <div class="cde-bezel cde-bezel-bottom"></div>
        <div class="cde-bezel cde-bezel-left"></div>
        <div class="cde-bezel cde-bezel-right"></div>
        <div class="cde-title-bar">
        <div class="cde-controls-left">
            <div class="cde-btn cde-btn-menu"></div>
        </div>
        <div class="cde-title-text">~/posts/{{slug}}</div>
        <div class="cde-controls-right">
            <div class="cde-btn cde-btn-minimize"></div>
            <div class="cde-btn cde-btn-maximize"></div>
            <a href="https://srp.life"><div class="cde-btn cde-btn-close"></div></a>
        </div>
    </div>    
        
        <div class="cde-window-content">
            <header class="post-header h-entry">
                {{#if feature_image}}
                <figure class="post-image">
                    <img src="{{img_url feature_image size="l"}}" alt="{{title}}" />
                </figure>
                {{/if}}

                <div class="post-header-content">
                    <h1 class="post-title">{{title}}</h1>
                    <section class="post-meta">
                        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="D MMMMM YYYY"}}</time> in {{#primary_tag}}<a href="{{url}}">{{name}}</a>{{/primary_tag}} ({{reading_time minute="1 minute read" minutes="% minute read"}})
                    </section>
                </div>
            </header>

            <section class="gh-content e-content">
                {{content}}
            </section>

            {{#if comments}}
                <section class="comments-section">
                    <h3>Comments</h3>
                    {{comments}}
                </section>
            {{/if}}
        </div>
    </article>
    {{/post}}
</div>
