<div class="pricing-table" data-active-duration="yearly"
    {{#if monthly_price}}data-m="{{price monthly_price}}"{{/if}}
    {{#if yearly_price}}data-y="{{price yearly_price}}"{{/if}}>
    <div class="table-header text-center">
        <h3 class="pricing-table-title">{{name}}</h3>
        {{#match type "=" "free"}}
        <div class="price">
            <span class="currency">$</span><span class="value">0</span>
            <span class="duration">{{t "Forever"}}</span>
        </div>
        {{/match}}
        {{#if monthly_price}}
        <div class="price" data-price="monthly">
            <span class="currency">{{price currency=currency}}</span><span class="value">{{price monthly_price}}</span>
            <span class="duration">{{t "/ Month"}}</span>
        </div>
        {{/if}}
        {{#if yearly_price}}
        <div class="price" data-price="yearly">
            <span class="currency">{{price currency=currency}}</span><span class="value">{{price yearly_price}}</span>
            <span class="duration">{{t "/ Year"}}</span>
        </div>
        {{/if}}
        {{#if description}}
        <div class="table-description">
            {{description}}
        </div>
        {{/if}}
    </div>
    {{#if benefits}}
    <ul class="table-details">
        {{#foreach benefits as |benefit|}}
        <li>{{>icons/check-mark}} {{benefit}}</li>
        {{/foreach}}
    </ul>
    {{/if}}
    <div class="table-footer text-center">
        {{#match type "=" "free"}}
            <a class="btn btn-primary" href="{{@site.url}}/signup/free/">{{t "Subscribe now"}}</a>
        {{/match}}
        {{#if monthly_price}}
            <a class="btn btn-primary" href="javascript:" data-portal="signup/{{id}}/monthly"
            data-price="monthly"><span>{{t
                "Subscribe now"}}</span></a>
        {{/if}}
        {{#if yearly_price}}
            <a class="btn btn-primary" href="javascript:" data-portal="signup/{{id}}/yearly"
            data-price="yearly"><span>{{t
                "Subscribe now"}}</span></a>
        {{/if}}
    </div>
</div>